<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Poll System</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{url_for('static', filename='/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{{url_for('static', filename='/dist/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{url_for('static', filename='/plugins/iCheck/square/blue.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body class="login-page">
    <h1>UserId <b>{{poll_id_variable}}</b></h1>
    <div class="login-box" style="width: 60%;">
      <div class="login-logo">
        <b>Tick the answer for below listed question.</b>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <form action="/question-submit/{{poll_id_variable}}/{{user_id}}" method="post">
          <!-- <div class="form-group has-feedback">
            <div class="form-group">
                <input type="checkbox" class="form-control" placeholder=""/>
            </div>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div> -->
          <div class="row">
            <div class="col-xs-8">
                {% for key, q in user_id_number["questions"].items() %}

                {% if q['type'] == "free-text" %}
                <p>{{key}}. {{q['text']}} </p>
                <div class="checkbox icheck">
                  <label>
                      <input type="text" class={{q['text']}} name={{q['text']}} value="" placeholder="Enter text..."/>
                    </label>
                </div>
                {% endif %}
                {% if q['type'] == "yes-no" %}
                <p>{{key}}. {{q['text']}}</p>
                <div class="checkbox icheck">
                  <label>
                      <input type="radio" class={{q['text']}} name={{q['text']}} value="Yes" placeholder="Yes"/>
                    Yes</label>
                </div>
                <div class="checkbox icheck">
                  <label>
                      <input type="radio" class={{q['text']}} name={{q['text']}} value="No" placeholder="Yes"/>
                    No</label>
                </div>
                {% endif %}
                {% if q['type'] == 'multiple-choice-single-answer' %}
                <p>{{key}}. {{q['text']}}</p>
                {% for item in q['options'] %}
                <div class="checkbox icheck">
                  <label>
                      <input type="checkbox" class={{q['text']}} name={{q['text']}} value="option{{loop.index}}">{{q['text']}}
                  </label>
                </div>
                {% endfor %}
                {% endif %}
                {% if q['type'] == 'multiple-choice-multiple-answers' %}
                <p>{{key}}. {{q['text']}}</p>
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" class={{q['text']}} name={{q['text']}} value="option2"> {{ q['option2'] }}
                    </label>
                </div>
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" class={{q['text']}} name={{q['text']}} value="option3"> {{ q['option3'] }}
                    </label>
                </div>
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" class={{q['text']}} name={{q['text']}} value="option4"> {{ q['option4'] }}
                    </label>
                </div>
                {% endif %}
            {% endfor %}
            </div><!-- /.col -->
          </div>
          
          <div class="row">
            <div class="col-xs-4 pull-right">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sumbit</button>
            </div>
          </div> 
        </form>

        <!-- <a href="#" class="text-center">Register</a> -->

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.3 -->
    <script src="{{url_for('static', filename='/plugins/jQuery/jQuery-2.1.3.min.js')}}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{url_for('static', filename='/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{url_for('static', filename='/plugins/iCheck/icheck.min.js')}}" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>
